images
buildroot-images
src/*/app
.obj

boot-scripts/boot_cifs.cmd
boot-scripts/boot.cifs
boot-scripts/Makefile
*.cmd
*.mod
*.o
*.order
/src/Labo_KernelModule/kernelModule_2/mymodule.mod.c
/src/Labo_KernelModule/kernelModule_2/Module.symvers
